@page "/createproduct"
@inject HttpClient Http
@using System.Text
@using System.Text.Json
@using static System.Net.Mime.MediaTypeNames

<PageTitle>Create</PageTitle>

<h1>Create Product</h1>

<EditForm Model="@product" OnValidSubmit="@HandleValidSubmit" >
    <DataAnnotationsValidator /> 
    <ValidationSummary />

    <p>
        <label for="identifier">Description: </label>
        <InputText id="description" @bind-Value="product.Description" />
         <ValidationMessage For="() => product.Description" /> 
    </p>
    <p>
        <label for="amount">Amount: </label>
        <InputNumber id="amount" @bind-Value="product.Amount" />
         <ValidationMessage For="() => product.Amount" /> 
    </p>
    <p>
        <label for="classification">Status: </label>
        <InputSelect id="status" @bind-Value="product.Status">
            <option value="">Select classification ...</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
        </InputSelect>
         <ValidationMessage For="() => product.Status" /> 
    </p>

    <button type="submit">Save</button>
</EditForm>


@code{
    private Product product = new Product();

 private async void HandleValidSubmit(){
    //save the data
    var productItemJson = new StringContent(
        JsonSerializer.Serialize(product),
        Encoding.UTF8,
        Application.Json); // using static System.Net.Mime.MediaTypeNames;

    using var httpResponseMessage =
        await Http.PostAsync("http://localhost/product", productItemJson);

    httpResponseMessage.EnsureSuccessStatusCode();
} 
    
}